.App {
  text-align: center;
}

form label {
  margin: 5px;
}

form input {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
}

input[type=submit]  {
  background-color: rgb(13,114,237);
   border: none;
  color: white;
  text-decoration: none;
}

input[type=submit]:hover {
  background-color: rgb(44,69,98);
}
